/*
 *= require_self
 */

@import "compass/reset";

@import "base";

@import "blueprint";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/lists/bullets";
@import "compass/typography/text/replacement";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/float";
@import "blueprint/debug";

@include blueprint-typography;
@include blueprint-debug;

body {
	padding-top: 10px;
	padding-bottom: 10px;
}

#container {
	@include container;
}

#header, #footer {
	@include column(24);
}
#header, #footer, #sidebar {
	h2 {
		margin-left: 5px;
	}
}

#header {
	position: relative;
	h2 {
		@include replace-text("meat_pie_logo_cropped.jpg");
		@include column(6);
		@include push(5);

		width: 600px;
		height: 160px;
		float:left;
		top: 1em;
		right: 59px;
	}
	h3 {
		float: left;
		@include column(24);
		@include push(4);
		padding-left: 24px;
	}
	.navlinks {
		@include horizontal-list;
		position:absolute;
		top: 1em;
		right: 10px;
	}
}

#sidebar {
	@include column(6);
	ul {
		@include no-bullets;
	}
}

#content {
	@include column(18, true);
	padding-bottom: 10px;
	h1 {
		margin: 0;
		margin-top	: $blueprint-grid-margin;	
	}
}

div {
	@include border-radius;
	margin-top: $blueprint-grid-margin;
}

#footerbar {
	display: table;
	margin: 0 auto;
}

#footer .footlinks {
	@include horizontal-list;
	padding:10px;
}

.field {
	@include column(18, true);
}

.field label {
	@include column(3);
	font-size: 1.1em;
	margin-top: 10px;
	// line-height: 200px; // center vertically
}

td {
	font-size: 1.1em;
}

#content > a {
	font-size: 1.2em;
}
.field select {
	margin-top: 15px;
}

.field input {
	@include column(4, true);
	margin-top: 10px;
}

.fieldWithErrors {
	padding: 2px;
	background-color: red;
}

.fieldWithErrors input {
	@include column(4, last);
	background-color: red;
}

#error_explanation {
	margin-left: 10px;
}

.actions input {
	margin-top: 20px;
}

a {
	&:visted { color: #CCF;}
}

#flash_notice, #flash_error, #flash_alert {
	@include border-radius;
  padding: 5px 8px;
  margin: 10px 0;
  text-align: center;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

