/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "compass/reset";

@import "base";

@import "blueprint";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/lists/bullets";
@import "compass/typography/text/replacement";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/float";
@import "blueprint/debug";

@include blueprint-typography;
@include blueprint-debug;

body {
	padding-top: 10px;
	padding-bottom: 10px;
}
#container {
	@include container;
}

#header, #footer {
	@include column(24);
	// background-color: #2683AE;
}
#header, #footer, #sidebar {
	h2 {
		margin-left: 5px;
	}
}

#header {
	position: relative;
	h2 {
		@include replace-text("logo.png");
		width: 600px;
		height: 160px;
		float:left;
		top: 1em;
		right: 10px;
	}
	.navlinks {
		@include horizontal-list;
		position:absolute;
		top: 1em;
		right: 10px;
	}
}

ul.navlinks {
	@include float-right;
}

#sidebar {
	@include column(6);
	// background-color: #0098DB;
	ul {
		@include no-bullets;
	}
}

#content {
	@include column(18, true);
	// background-color: #0C703C;
	padding-bottom: 10px;
	* {
		padding: 5px;
	}
}

div {
	@include border-radius;
	margin-top: $blueprint-grid-margin;
}

#footer ul {
	@include horizontal-list;
	padding:10px
}

.field {
	@include column(18, true);
}

.field label {
	@include column(3);
	padding: 10px;
	font-size: 1.1em;
	margin-top: 10px;
	// line-height: 200px; // center vertically
}

td {
	font-size: 1.1em;
}

#content > a {
	font-size: 1.2em;
}
.field select {
	margin-top: 15px;
}

.field input {
	@include column(4, true);
	margin-top: 10px;
}

.fieldWithErrors {
	padding: 2px;
	background-color: red;
}

.fieldWithErrors input {
	@include column(4, last);
	background-color: red;
}

#error_explanation {
	margin-left: 10px;
}

.actions {
	padding: 10px;
}

a {
	&:visted { color: #CCF;}
}